[Unit]
Description=Telegram Audio Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/audiobot
ExecStart=/home/linuxbrew/.linuxbrew/bin/python3 /home/debian/audiobot/bot.py
Restart=always
RestartSec=5
StandardOutput=append:/home/debian/audiobot/bot.log
StandardError=append:/home/debian/audiobot/bot.log

[Install]
WantedBy=multi-user.target
